<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls"><span class="tiny">Tiny</span>App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <a class="nav-item nav-link text-light" href="/urls">My URLs</a>
        <a class="nav-item nav-link text-light" href="/urls/new">Create New URL</a>
      </ul>
      <% if (userData !== undefined) { %>
      <div class="mx-3">
        <p class="m-0">Logged in as, <span class="font-weight-bold"><%= userData.email %></span></p>
      </div>
      <form method="post" action="/logout">
        <button type="submit" class="btn btn-warning">Logout</button>
      </form>
      <% } else { %>
      <div class="mx-3">
        <a href="/login" title="Log in to your account" class="btn btn-link my-2 my-sm-0 text-light">Log in</a>
        <a href="/register" title="Register an account" class="btn btn-warning my-2 my-sm-0">Register</a>
      </div>
      <% } %>
    </div>
  </nav>
</header>