<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include('partials/_bootstrapCSS') %>
    <title>New URL - TinyApp</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main style="margin: 1em;">
      <%- include('partials/_form_create_url') %>
    </main>
    <%- include('partials/_bootstrapJS') %>
  </body>
</html>