<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include('partials/_bootstrapCSS') %>
    <title>My URLs - TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
    <h3>My URLs</h3>
    <% if (Object.keys(urls).length > 0) { %>
      <%- include('partials/_list_urls') %>
    <% } else { %>
    <p>You don't have any URLs.</p>
    <a href="/urls/new" title="Create a new shortened url" class="btn btn-primary">Create new URL</a>
    <% } %>
    </main>
    <%- include('partials/_bootstrapJS') %>
  </body>
</html>